@font-face {
    font-family: 'Moonrising';
    font-weight: 400;
    src: url(/web_report_custom_fonts/static/src/fonts/Moonrising.ttf) format('truetype');
}

@font-face {
    font-family: 'OpenSans-Regular';
    font-style: normal;
    font-weight: 400;
    src: url(/web_report_custom_fonts/static/src/fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'OpenSans-Light';
    font-style: normal;
    font-weight: 300;
    src: url(/web_report_custom_fonts/static/src/fonts/OpenSans-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'OpenSans-Medium';
    font-style: normal;
    font-weight: 500;
    src: url(/web_report_custom_fonts/static/src/fonts/OpenSans-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'OpenSans-Bold';
    font-style: normal;
    font-weight: 700;
    src: url(/web_report_custom_fonts/static/src/fonts/OpenSans-Bold.ttf) format('truetype');
}

.use-font-moonrising {
    font-family: 'Moonrising';
}

.use-font-opensans-regular {
    font-family: 'OpenSans-Regular';
    font-weight: 400;
}

.use-font-opensans-bold {
    font-family: 'OpenSans-Bold';
    font-weight: 700;
}

.use-font-opensans-light {
    font-family: 'OpenSans-Light';
    font-weight: 300;
}

.use-font-opensans-medium {
    font-family: 'OpenSans-Medium';
    font-weight: 500;
}
